{% extends "base.html" %}

{% block content %}
<p><span style="font-size: 20px;font-weight: 800;">Admin Menu</span></p>
    <li><a href="{% url 'users_view' %}"><span style="font-size: 20px;font-weight: 800;">Brugere</span></a></li>
    <li><a href="{% url 'dataset_users_view' %}"><span style="font-size: 20px;font-weight: 800;">Datasæt : Brugere</span></a></li>
</ul>
<br>
<form action="{% url 'logout_admin' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log ud</button>
</form>


{% endblock %}
