{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MetaSubscribe</title>
    
    <link rel="stylesheet" href="{% static 'designsystem.css' %}">
</head>
<body>

    <a class="ds-logo-micro" href="#logos">
        <strong>Dataforsyningen</strong>
        <span>Styrelsen for Dataforsyning og Infrastruktur</span>
    </a> 

<nav>
    <a href="{% url 'home_page' %}">Home</a>
    <a href="{% url 'admin_page' %}">Admin</a>

</nav>

<div class="content">
    {% block content %}
    <!-- Content from child templates will be rendered here. -->
    {% endblock %}
</div>

</body>
</html>
