{% extends "base.html" %}

{% block content %}
<h2>Metadata Abonnement System</h2>
<h3>Log ind eller Registrer Bruger</h3>
<form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}  <!-- Change to user_form -->
    <button type="submit" name="user_login">Login/Registrer</button>  
</form>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<!-- Admin Login Form Here -->
<h3>Admin Login</h3>
<form method="post">
    {% csrf_token %}
    {{ admin_form.as_p }}  <!-- Change to admin_form -->
    <button type="submit" name="admin_login">Login</button>  
</form>

{% endblock %}
