{% extends "base.html" %}

{% block content %}
<h2><strong>Bruger: {{ user.EMAIL }}</strong></h2>

<form method="post" action="{% url 'logout_view' %}">
    {% csrf_token %}
    <button type="submit">Log ud</button>
</form>

<h2><strong>Registrer brug af Datasæt</strong></h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Registrer</button>
</form>

<h2><strong>Registrerede Datasæt</strong></h2>
<ul>
    {% for dataset in user_datasets %}
    <li>
        <div>
            <strong>{{ dataset.dataset.TITEL }}</strong> - {{ dataset.description }}
        </div>
        <!-- Remove Dataset Form -->
        <div>
            <form method="post" action="{% url 'personal_page_view' %}">
                {% csrf_token %}
                <input type="hidden" name="remove_dataset_id" value="{{ dataset.id }}">
                <button type="submit">Slet</button>
            </form>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
