{% extends "base.html" %}

{% block content %}
<h2>Hello, {{ user.EMAIL }}</h2>

<h3>Register for a Dataset</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
</form>

<h3>Your Datasets</h3>
<ul>
    {% for dataset in user_datasets %}
    <li>{{ dataset.TITEL }} - {{ dataset.userdataset.description }}</li>
    {% endfor %}
</ul>

<h3>All Datasets</h3>
<ul>
    {% for dataset in datasets %}
    <li>{{ dataset.TITEL }}</li>
    {% endfor %}
</ul>
{% endblock %}