{% extends "base.html" %}

{% block content %}
<button onclick="window.location.href='{% url 'admin_page' %}';">Admin Menu</button>
<p><span style="font-size: 20px;font-weight: 800;"><strong>Alle brugere med registrerede datasæt og beskrivelse af brug</strong></span></p>
<ul>
    {% for user, user_datasets in user_dataset_info.items %}
        <li>
            <span style="font-size: 20px;font-weight: 800;"><strong>{{ user.EMAIL }}</strong></span>
            <!-- List of Datasets for each User -->
            {% if user_datasets %}
                <ul>
                    {% for user_dataset in user_datasets %}
                        <li><strong>{{ user_dataset.dataset.TITEL }}</strong> - {{ user_dataset.description }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <!-- Delete Form -->
            <form action="{% url 'delete_user' user.USERID %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('Dette sletter brugeren og alle tilhørende registreringer. Er du sikker på at du vil slette denne bruger?');">Slet Bruger</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}
