{% extends "base.html" %}

{% block content %}
<h1>Brugere</h1>
<ul>
    {% for user in users %}
        <li>
            {{ user.EMAIL }}
            <!-- Delete Form -->
            <form action="{% url 'delete_user' user.USERID %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('Er du sikker på at du vil slette denne bruger?');">Slet Bruger</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}
