{% extends "base.html" %}

{% block content %}
<button onclick="window.location.href='{% url 'admin_page' %}';">Admin Menu</button>
<p><span style="font-size: 20px;font-weight: 800;"><strong>Alle brugere med deres registrerede datasæt og beskrivelse af brug</strong></span></p>
<input style="width: 200px;"  type="text" id="userSearch" onkeyup="filterUsers()" placeholder="Søg efter bruger...">
<ul id="userList">
    {% for user, user_datasets in user_dataset_info.items %}
        <li>
            <span style="font-size: 20px;font-weight: 800;"><strong class="user-email">{{ user.EMAIL }}</strong></span>
            <!-- List of Datasets for each User -->
            {% if user_datasets %}
                <ul>
                    {% for user_dataset in user_datasets %}
                        <li><strong>{{ user_dataset.dataset.TITEL }}</strong> - {{ user_dataset.description }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <!-- Delete Form -->
            <form action="{% url 'delete_user' user.USERID %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('Dette sletter brugeren og alle tilhørende registreringer. Er du sikker på at du vil slette denne bruger?');">Slet Bruger</button>
            </form>
        </li>
    {% endfor %}
</ul>

<script>
function filterUsers() {
    var input, filter, ul, li, i, userEmail, txtValue;
    input = document.getElementById('userSearch');
    filter = input.value.toUpperCase();
    ul = document.getElementById("userList");
    li = ul.getElementsByTagName('li');

    for (i = 0; i < li.length; i++) {
        userEmail = li[i].getElementsByClassName("user-email")[0];
        if (userEmail) {
            txtValue = userEmail.textContent || userEmail.innerText;
            if (txtValue.toUpperCase().startsWith(filter)) {
                li[i].style.display = ""; // Show the entire <li> element
            } else {
                li[i].style.display = "none"; // Hide the entire <li> element
            }
        }
    }
}
</script>

    
    
    
    
{% endblock %}
